.add{
  width: 60%;
}
.add{
  display: flex;
   
}
.main-div{
   margin-left: 580px;
}
.show{
  padding: 10px;
  padding-left: 20px;
   
 

}
.BTN{
  margin-left: 80px;
}
h1{
  background-color: black;
  color: aliceblue;
  margin-right: 660px;
  margin-bottom: 30px;
}
input{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}
 
