* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

nav {
  width: 100%;
  border-bottom: 2px solid #bbb;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 16px 80px;
}

nav > a:nth-child(1) {
  font-weight: 600;
  font-size: 20px;
  margin-right: 60px;
}

nav > a {
  text-decoration: none;
  margin-left: 20px;
  font-size: 18px;
  color: #111;
}

.main_container {
  display: flex;
  border: 2px solid #111;
  border-radius: 12px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: 40px auto;
}

.flex {
  margin-top: 20px;
  display: flex;
}

.title {
  font-size: 20px;
  cursor: pointer;
  font-weight: 500;
}

.deleteBtn {
  color: red;
  cursor: pointer;
}

.ind_todo {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  width: 600px;
  border-radius: 4px;
  padding: 14px 20px;
  border: 1px solid #bbb;
  justify-content: space-between;
}

.ind_title {
  font-size: 24px;
}

.login_form {
  width: 60%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_form > h1 {
  margin-bottom: 20px;
}

.login_form > form > input {
  width: 500px;
  height: 40px;
  font-size: 18px;
  border: none;
  outline: none;
  border-bottom: 2px solid #111;
  margin-bottom: 20px;
}

input[type="submit"] {
  background-color: #111;
  border: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.loading {
  width: 60%;
  margin: auto;
  height: 100px;
  margin-top: 20px;
  text-align: center;
}
